@*

    This file auto-generates a class called MyHelpers in the ASP namespace.
    Thus its full class name is ASP.MyHelpers.

*@

@helper PhoneButton(string phoneNumber)
{
    <a class="btn btn-default" href="tel:@phoneNumber">@phoneNumber</a>
}

@helper EmailButton(string emailAddress)
{
    <a class="btn btn-default" href="mailto:@emailAddress">@emailAddress</a>
}

@helper BootstrapMenuItem(string controller, string action, string imgUrl, string title)
{
    string href;

    href = Request.Url.Scheme + "://" + Request.Url.Host + ":" + Request.Url.Port;

    if (controller.ToLower().Equals("home"))
    {
        href += "/" + action;
    }
    else
    {
        href += "/" + controller + "/" + action;
    }

    <a href="@href"><i class="@imgUrl">&nbsp;</i>@title</a>

}

@helper BootstrapSelectControlGroup(string modelPropertyName, string label, string[] items)
{
    <div class="form-group">
        @*<label class="control-label" for="@modelPropertyName">@label</label>*@
        <div class="controls">
            <select class="input-xlarge" name="@modelPropertyName" id="@modelPropertyName">
                @foreach (var s in items)
                {
                    <option value="@s">@s</option>
                }
            </select>
        </div>
    </div>
}

@helper BootstrapTextboxControlGroup(string modelPropertyName, string text, string placeholder, string type, bool required)
{
    <div class="form-group">
        @*<label class="control-label" for="@modelPropertyName">@text</label>*@
        <div class="controls">
            <input 
                class="input-xlarge" 
                type="@type" 
                id="@modelPropertyName" 
                name="@modelPropertyName" 
                placeholder="@placeholder" 
                @(required ? "required": "")>
        </div>
    </div>
}

@helper BootstrapSubmitControlGroupWithCheckbox(string modelPropertyName, string checkboxText, string buttonText)
{
    <div class="form-group">
        <div class="controls">
            <label class="checkbox">
                <input id="@modelPropertyName" name="@modelPropertyName" type="checkbox"> @checkboxText
            </label>
            <button type="submit" class="btn btn-default">@buttonText</button>
        </div>
    </div>
}

@helper BootstrapSubmitControlGroup(string text)
{
    <div class="form-group">
        <div class="controls">
            <button type="submit" class="btn btn-default">@text</button>
        </div>
    </div>
}