@*

    This file auto-generates a class called MyHelpers in the ASP namespace.
    Thus its full class name is ASP.MyHelpers.

*@

@helper PhoneButton(string phoneNumber)
{
    <a class="btn" href="tel:@phoneNumber">@phoneNumber</a>
}

@helper EmailButton(string emailAddress)
{
    <a class="btn" href="mailto:@emailAddress">@emailAddress</a>
}

@helper BootstrapMenuItem(string controller, string action, string imgUrl, string title)
{
    string href;

    href = Request.Url.Scheme + "://" + Request.Url.Host + ":" + Request.Url.Port;

    if (controller.ToLower().Equals("home"))
    {
        href += "/" + action;
    }
    else
    {
        href += "/" + controller + "/" + action;
    }

    <a href="@href"><i class="@imgUrl">&nbsp;</i>@title</a>

}

@helper BootstrapTextboxControlGroup(string modelPropertyName, string text, string placeholder, string type)
{
    <div class="control-group">
        <label class="control-label" for="@modelPropertyName">@text</label>
        <div class="controls">
            <input type="@type" id="@modelPropertyName" name="@modelPropertyName" placeholder="@placeholder">
        </div>
    </div>
}

@helper BootstrapCheckboxControlGroup(string modelPropertyName, string text)
{
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input id="@modelPropertyName" name="@modelPropertyName" type="checkbox"> @text
            </label>
        </div>
    </div>
}
