@using BigFont.MVC.Models;

@{ 
        var bibliography = new Bibliography() {
        new BibliographyWebEntry(
            new Author("B", "M", "Leiner"),
            new DateTime(2015, 8, 15),
            "Brief History of the Internet",
            "Internet Society",
            new Uri("http://www.internetsociety.org/internet/what-internet/history-internet/brief-history-internet")
        ),
        new BibliographyWebEntry(
            new Author("I", string.Empty, "Peter"),
            new DateTime(2015, 8, 15),
            "The Beginnings of the Internet",
            "Net History",
            new Uri("http://www.nethistory.info/History%20of%20the%20Internet/beginnings.html ")),
        new BibliographyWebEntry(
            new DateTime(2015, 8, 15),
            "Time Sharing",
            "Wikipedia",
            new Uri("https://en.wikipedia.org/wiki/Time-sharing"))
    };
}

<section id="what-is-the-internet">
    @MyHelpers.BigFontTocSectionHeader(Html, "Literacy: What is the Internet?")

    <p class="lead">The Internet is the technology that allows computers to communicate with each other.</p>

    @MyHelpers.TechTipHeadshot("shaun", "right")

    <p>It is the basis of connectivity between computers around the world, which allows much modern technology to work, including the World Wide Web and the Cloud. Both the Cloud and the Web rely on the Internet, because the Internet lets computers connect to each other. The Internet is the technology that allows diverse computers across the world to communicate reliably with each other and without centralized control.</p>

    <p>Prior to the Internet and its contemporaries, if we wanted to access something on someone else’s computer, we would have to go over to his/her house to use that computer, or at least to have a really long cable to connect our
    @MyHelpers.PopoverDfn(
        term:"terminal", 
        dfn:"A terminal these days consists of a keyboard, mouse and monitor. It is what allows a human to interact with a computer.",
        trigger:"focus",
        placement:"top")
     to our friend’s computer.</p>

    <p>In some ways, the Internet is to computers what the telephone is to humans.</p>

    <div class="panel panel-info">
        <div class="panel-heading">
            The Web and The Cloud
        </div>
        <div class="panel-body">
            <p>
                The Web (being the diminutive form of the World Wide Web) allows us to request documents from other computers around the world and to link those documents to other documents, and those documents to other documents, ad infinitum, creating a rich web of interconnected content, such as encylopedias, recipe books, cat pictures, sports headlines, and whatever else humans can dream of putting online.
            </p>
            <p>
                The Cloud complements and extends the Web by letting us run powerful software, on other computers around the world, which we lack the financial or technical resources to use otherwise. Examples include Amazon Web Services and Microsoft Azure. It also lets us run simpler software without having to install and maintain it on our own computers. Examples of the latter include Microsoft Office 365 and Quickbooks Online.
            </p>
        </div>
    </div>

    <h3>Why did we build the Internet?</h3>

    <p>The early impetus for the Internet was time-sharing of computers, in which multiple people would rent access on enormous mainframes. The first of these time-sharing systems happened in the 1960s at Dartmouth College, in which 300 users could simultaneously access one computer!</p>

    <p>The problem: they all had to be using a terminal that connected directly to the mainframe.  The users could not just connect from any old computer at home and they certainly could not connect from another city, state, or country. We built the Internet suite of technologies to solve that problem.</p>

    <h3>Who built the Internet?</h3>

    <p>With that motivation in mind, around 1962 the Massachusetts Institute of Technology (MIT) in cooperation with the Pentagon’s Defense Advanced Research Projects Agency (DARPA) began research into interconnecting multiple computers to each other so that time-sharing could happen without the need to be on premises or to have a massively long cable connect each terminal to a single computer.</p>

    <p>Their technological breakthroughs enabled two computers to talk to each other over a dial-up telephone network; spurred on by that success, by 1968 the Advanced Research Projects Agency’s network (ARPANET) began funded development. This new network project would later become the modern Internet, and we would no longer need to connect monitors directly to the computers that we wanted to use.</p>

    <p>By 1969 everything came together as more than just a proof of concept. The first four computers, all at academic institutions, connected to each other. These were not four terminals connecting to a single mainframe computer; these were four computers in different cities and states connecting to each other. Time-sharing could now occur at a distance through an application called telnet – other applications followed soon after.</p>

    <p>Here is a key point about the Internet: it is useless on its own but opens the doors for new applications. On its own, the Internet is just a way for one computer to send a message to another computer anywhere in the world. What we later did with that started with time-sharing and later became telnet, email, file transfer, the World Wide Web, voice over IP (VOIP), and the Cloud.</p>

    <p>By 1972, after further honing and tweaking of the protocols, the technology behind the Internet was complete; the two main technologies behind the Internet were (and still are) the TCP/IP protocol and the use of packet switching (as opposed to traditional circuit switching.)</p>

    <p>Humanity already had wired the world with cables, wires, satellites, and wireless connections. The Internet technologies allowed humanity to leverage this massive, existing communication infrastructure for communication among all of the world computers. This hottest early technology to come out of this was email and soon after came the World Wide Web.</p>

    <h3>Timeline</h3>

    <dl>
        <dt>1844</dt>
        <dd>The USA runs a telegraph cable between Washington and Baltimore.</dd>
        <dt>1858</dt>
        <dd>The transatlantic cable is complete.</dd>
        <dt>1861</dt>
        <dd>Telegraph wires cover the USA.</dd>
        <dt>1900s</dt>
        <dd>The computer is invented!</dd>
        <dt>1962</dt>
        <dd>DARPA and MIT begin research into computer to computer communication.</dd>
        <dt>1965</dt>
        <dd>Packet switching breakthrough! Two computers talk over dial-up telephone.</dd>
        <dt>1968</dt>
        <dd>The ARPANET begins funded development.</dd>
        <dt>1969</dt>
        <dd>The first four computers connect.</dd>
        <dt>1972</dt>
        <dd>The internet communication protocol TCP/IP is complete. The modern Internet is born.</dd>
    </dl>

    <h3>Bibliography</h3>
    <div class="bibliogrpahy bibliography-apa-style">
        @foreach (var entry in bibliography)
        {
            <p>
                @Html.Raw(entry.ToString())
            </p>
        }
    </div>

    <aside class="panel panel-primary">
        <div class="panel-heading">
            Tony's Perspective
        </div>
        <div class="panel-body">
            @MyHelpers.TechTipHeadshot("tony", "right")

            <p>
                Well gee, thanks, Shaun for sharing with us what we've got to blame for our modern world's travails not to say broken promises. I notice you carefully avoided ascribing names to the bunch of guys generally hailed as those whose over-active brains led us to this pass.
            </p>

            <p>
            What happened to all that spare time we were going to have on our hands with nothing much to do with rapid communication making it possible to get our work done in a quarter of the time? Now, I still don't have time because if someone sends me an e-mail one minute I get another one the next minute asking why haven't responded to the first one yet. You can fill a day that way.
            </p>

            <p>
                What happened to the paperless society and why we are using more than ever?
            </p>

            <p>
                When is the cashless society going to become true? Granted we need a whole lot less these days but for now you still don't want to be caught out with none in your wallet.
            </p>

            <p>
                Whoever told us that telephones would cease being used for their intended purpose as people began preferring to speak to each other through some weird sub-cultural print language, accessed by the telephone unit which otherwise might sustain minimal use (except as a camera.) I found it easier with my @MyHelpers.PopoverDfn("box brownie", "A camera that Kodak started producing circa February 1900. Good grief!").
            </p>

            <p>
                When we were cautioned by George Orwell through his prescient book, <cite>1984</cite>, that our privacy was about to become a thing of the past as big brother started monitoring our lives, everyone thought the book was a novel!
            </p>

            <p>
                And now we find ourselves in a world where another country wanting to destroy ours can do so through cyberspace and wreck everything, without in fact physically wrecking anything. We'll likely do that to ourselves.
            </p>

            <p>
                Progress, you were telling me?
            </p>

        </div>
    </aside>

</section>