<section class="toc-hidden">
    @MyHelpers.BigFontTocSectionHeader(Html, "Welcome to Tech Tips")
    <p>Tech tips provide just that: useful tips. We aim to provide one basic and one advanced tip each month. Often they will be Microsoft-centric (only because we know it best) but we'll also try to include tips for other companies' products and for computers and the Cloud in general. Go to BigFont at facebook to find the current month's blog.</p>
</section>

@Html.Partial("_PasswordManagement")

@Html.Partial("_CopyAndPaste")

@Html.Partial("_TwoWebsiteTypes")

@Html.Partial("_WhatIsTheInternet")

@Html.Partial("_WhatIsTheWeb")