@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@*Bootstrap Navbar*@

@{
    string cssClass = "";
}
<ul id="menu" class="nav">
    @foreach (var node in Model.Nodes)
    {
        // set the active node
        if (node.IsCurrentNode || node.Children.Any(m => m.IsCurrentNode))
        {
            cssClass += " active";
        }
        else
        {
            cssClass = "";
        }
        
        if (node.Children.Any())
        {
            // process the nodes that do have children
            <li class="@cssClass dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="@node.ImageUrl">&nbsp;</i>@node.Title</a>
                <ul class="dropdown-menu">
                    @foreach (var child in node.Children)
                    {
                        <li>
                            @MyHelpers.BootstrapMenuItem(@child.Controller, @child.Action, @child.ImageUrl, @child.Title)
                        </li>
                    }
                </ul>
            </li>
        }
        else
        {
            // process the nodes that do NOT have children
            <li class="@cssClass">
                @MyHelpers.BootstrapMenuItem(@node.Controller, @node.Action, @node.ImageUrl, @node.Title)
            </li>
        }
    }
</ul>
