@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@{
    bool isDropdown = false;
    if (Model.Attributes.ContainsKey("dropdown"))
    {
        isDropdown = Model.Attributes["dropdown"] != null && (bool)Model.Attributes["dropdown"] == true;
    }

    string iconClass = Model.ImageUrl.TrimStart('/');
}


@if (Model.IsCurrentNode && Model.SourceMetadata["HtmlHelper"].ToString() != "MvcSiteMapProvider.Web.Html.MenuHelper")
{
    <text>@Model.Title</text>
}
else if (Model.IsClickable)
{
    if (string.IsNullOrEmpty(Model.Description))
    {
        <a href="@Model.Url">
            <i class="@iconClass"></i>
            @Model.Title
        </a>
    }
    else
    {
        <a href="@Model.Url" title="@Model.Description">
            <i class="@iconClass"></i>
            @Model.Title
        </a>
    }
}
else
{
    if (isDropdown)
    {
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="@Model.Description">
            <i class="@iconClass"></i>
            @Model.Title
        </a>
    }
    else
    {
        <text>
            <i class="@iconClass"></i>
            @Model.Title
        </text>
    }
}
