<!DOCTYPE html>
<html class="no-js">
<head>

    <title>BigFont.ca ~ Technology and Web Solutions on Salt Spring Island</title>
    @*meta*@
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BigFont.ca ~ Website development and technical support on Salt Spring Island." />
    <meta name="keywords" content="BigFont.ca, website, website development, software, ebook, saltspring" />

    @*styles*@
    @Styles.Render("~/crispy")

    @*Style block for easy testing and prototyping*@
    <style type="text/css">
    </style>

    <script src="~/Scripts/modernizer.js"></script>

    @*Google Analytics*@
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36302929-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>


</head>

@* When the data-offset is at zero (or blank),
    scrollspy seems to engagewhen the top of a section
    reaches the middle of the viewport *@
<body class="" data-spy="scroll" data-target="#subnav" data-offset="-200">


    <a id="top"></a>

    @Html.Partial("_NavbarPartial")

    @*root bootstrap container*@
    <div class="container website-title">

        @*header*@
        <header class="row">
            <div class="col-md-12">
                <img alt="The BigFont logo is a crest."
                     class="logo"
                     src="~/Images/resized/logo-crest-black-and-white-tokopa-inverse-resizePhone.png"
                     title="The BigFont.ca Logo" />

                @RenderSection("header")

            </div>
        </header>

    </div>

    <div class="container">

        <div class="row hidden-xs">
            <div class="col-md-12">
                @Html.MvcSiteMap().SiteMapPath()
            </div>
        </div>

        @*main article*@
        <article class="row">

            @*affix, appears to require the div.affix-container parent
                scrollspy, appears to require the data-target on the nav element not its child menu element
                TODO - use the address element around our contact information*@
            <div class="col-md-5 affix-container">
                <nav id="subnav" data-clampled-width=".affix-container" data-offset-top="400" data-spy="affix">

                    <ul class="nav nav-list nav-stacked">
                        <li class="contact"><a href="tel:+1-250-538-2337"><i class="icon-bell hidden-phone"></i>+1-250-538-2337</a></li>
                        <li class="contact">
                            <a href="mailto:info@bigfont.ca">
                                <i class="icon-envelope hidden-xs"></i>info@bigfont.ca
                            </a>
                        </li>

                        @RenderSection("subnav")

                    </ul>

                </nav>

            </div>
            <div class="col-md-7">


                @RenderBody()


                @*article footer*@
                <footer>
                    <a class="btn btn-default return-to-top" href="#top"><i class="icon-arrow-up">&nbsp;</i>Return to Top</a>
                </footer>
            </div>
        </article>
        <footer class="row text-muted">
            <div class="col-md-2">
                @* Entrust SSL seal. Note: We modify this slightly in bigfont.js *@
                <aside id="entrust-seal">
                    <script language="javascript" src="https://seal.entrust.net/seal.js?domain=www.bigfont.ca&amp;img=9"></script>
                    <a href="http://www.entrust.net">SSL</a>
                    <script language="javascript" type="text/javascript">goEntrust();</script>
                </aside>
            </div>
            <div class="col-md-10">
                <address>
                    <ul class="list-inline">
                        <li>298 Maliview Drive,</li>
                        <li>Salt Spring Island,</li>
                        <li>BC</li>
                        <li>Canada</li>
                        <li>V8K 1B1</li>
                    </ul>
                </address>
                <small>
                    Last updated
                    @{
                        DateTime now = DateTime.UtcNow;
                    }
                    @now.ToString("T") (UTC)
                    @now.ToString("ddd")
                    @now.ToString("dd")
                    @now.ToString("MMM")
                    @now.ToString("yyyy")
                </small>
            </div>
            <hr />

        </footer>

    </div>

    @*javascript*@
    @Scripts.Render("~/scriptolic")
    @Scripts.Render("~/gapi")

    <!-- Load the Client Library. Use the onload parameter to specify a callback function -->
    <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

</body>
</html>
