<!DOCTYPE html>
<html class="no-js">
<head>

    <title>BigFont.ca ~ Technology and Web Solutions on Salt Spring Island</title>
    @Html.Partial("_HeaderMetaTags")

    <!-- styles -->
    @Styles.Render("~/crispy")

    <!-- scripts -->
    @Scripts.Render("~/screager")
    @Html.Partial("_InlineHeaderScripts")

</head>

@* When the data-offset is at zero (or blank),
    scrollspy seems to engagewhen the top of a section
    reaches the middle of the viewport *@
<body class="show-responsive" data-spy="scroll" data-target="#subnav" data-offset="">

    <a id="top"></a>

    @Html.Partial("_NavbarPartial")


    <div class="container">
            <div class="alert alert-info alert-dismissable" style="margin-top:20px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span><strong>Note:</strong> This website is under construction.</span>
        </div>
    </div>



    @Html.Partial("_WebsiteTitle")

    <div class="container">

        @Html.MvcSiteMap().SiteMapPath()

        @*main article*@
        <article class="row">

            <div class="col-md-5 affix-container">

                @Html.Partial("_AffixSubnav")
            </div>


            <div class="col-md-7" id="main-article-content">

                @RenderBody()

                @Html.Partial("_ArticleFooter")

            </div>
        </article>
        <footer class="row text-muted">
            <div class="col-md-2">
                @* Entrust SSL seal. Note: We modify this slightly in bigfont.js *@
                <aside id="entrust-seal">
                    <script language="javascript" src="https://seal.entrust.net/seal.js?domain=www.bigfont.ca&amp;img=9"></script>
                    <a href="http://www.entrust.net">SSL</a>
                    <script language="javascript" type="text/javascript"> goEntrust(); </script>
                </aside>
            </div>
            <div class="col-md-10">
                <address>
                    <ul class="list-inline">
                        <li>298 Maliview Drive,</li>
                        <li>Salt Spring Island,</li>
                        <li>BC</li>
                        <li>Canada</li>
                        <li>V8K 1B1</li>
                    </ul>
                </address>
                <small>
                    Last updated
                    @{
                        DateTime now = DateTime.UtcNow;
                    }
                    @now.ToString("T") (UTC)
                    @now.ToString("ddd")
                    @now.ToString("dd")
                    @now.ToString("MMM")
                    @now.ToString("yyyy")
                </small>
            </div>
            <hr />

        </footer>

    </div>


    @*javascript*@
    @Scripts.Render("~/scriptolic")
    @Scripts.Render("~/gapi")

    <!-- Load the Client Library. Use the onload parameter to specify a callback function -->
    <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

</body>

</html>