<!DOCTYPE html>
<html class="no-js">
<head>

    @Html.Partial("_HeaderMetaTags")

    @*The favicon http://www.w3.org/2005/10/howto-favicon#profile*@
    <link rel="icon"
          type="image/png"
          href="./Images/favicon.png">

    <!-- styles -->
    <style type="text/css">
        @{ 
            var bootstrap = File.ReadAllText(Server.MapPath("Content/bootstrap/css/bootstrap.min.css"));
            var bootstrapTheme = File.ReadAllText(Server.MapPath("Content/bootstrap/css/bootstrap-theme.min.css"));
            var fontAwesome = File.ReadAllText(Server.MapPath("/Content/font-awesome/css/font-awesome.min.css"));
            var bigfont = File.ReadAllText(Server.MapPath("/Content/bigfont/css/bigfont.min.css"));
            var bigfontPrint = File.ReadAllText(Server.MapPath("/Content/bigfont/css/bigfont-print.min.css"));
        }
        @Html.Raw(bootstrap)
        @Html.Raw(bootstrapTheme)
        @Html.Raw(fontAwesome)
        @Html.Raw(bigfont)
        @Html.Raw(bigfontPrint)
    </style>

    <!-- early scripts -->
    <script type="text/javascript" async src="@Scripts.Url("~/screager")"></script>
    @Html.Partial("_InlineHeaderScripts")

</head>

@*  When the data-offset is at zero (or blank),
    scrollspy seems to engage when the top of a section
    reaches the middle of the viewport *@
<body data-spy="scroll" data-target="#subnav" data-offset="10">

    <a id="top"></a>

    @Html.Partial("_NavbarPartial")

    @if (Html.MvcSiteMap().SiteMapTitle().ToString().Contains("Site Map"))
    {
        @Html.Partial("_UnderConstruction")
    }

    @Html.Partial("_WebsiteTitle")

    <div class="container">

        @Html.MvcSiteMap().SiteMapPath()

        @*main article*@
        <article class="row">

            <div class="col-md-5 affix-container">

                @Html.Partial("_AffixSubnav")
            </div>


            <div class="col-md-7" id="main-article-content">

                @RenderBody()

                @Html.Partial("_ArticleFooter")

            </div>
        </article>                

        <footer class="row text-muted">
            <div class="col-md-12">
                <address>
                    <ul class="list-inline">
                        <li>298 Maliview Drive,</li>
                        <li>Salt Spring Island,</li>
                        <li>BC</li>
                        <li>Canada</li>
                        <li>V8K 1B1</li>
                    </ul>
                </address>
                <small>
                    Last updated
                    @{
                        DateTime now = DateTime.UtcNow;
                    }
                    @now.ToString("T") (UTC)
                    @now.ToString("ddd")
                    @now.ToString("dd")
                    @now.ToString("MMM")
                    @now.ToString("yyyy")
                </small>
            </div>
        </footer>

    </div>


    @*javascript*@
    @Scripts.Render("~/scriptolic")

</body>


</html>