<!DOCTYPE html>
<html>
<head>

    <title>BigFont.ca ~ Technology and Web Solutions on Salt Spring Island</title>


    @*meta*@
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BigFont.ca ~ Website development and technical support on Salt Spring Island." />
    <meta name="keywords" content="BigFont.ca, website, website development, saltspring" />


    @*styles*@
    @Styles.Render("~/crispy")


    @*Style block for easy testing and prototyping*@
    <style type="text/css" name="prototyping">

    </style>


    @*Google Analytics*@
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36302929-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>


</head>


<body class="" data-spy="scroll" data-target="#subnav" data-offset="-330">


    <a id="top"></a>


    @*Navbar*@
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span>Menu
                    </span>
                    <span>
                        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </span>
                </button>
                <div class="nav-collapse collapse">
                    @Html.MvcSiteMap().Menu()
                </div>
            </div>
        </div>
    </div>



    @*root bootstrap container*@
    <div class="container-fluid website-title">


        @*header*@
        <header class="row-fluid">
            <div class="span12">
                <img src="~/Images/resized/logo-crest-black-and-white-tokopa-inverse-resizePortraitTablet.png"
                    alt="The BigFont logo is a crest."
                    class="logo"
                    title="The BigFont.ca Logo" />

                <hgroup>


                    @RenderSection("header")


                </hgroup>

            </div>
        </header>

    </div>

    <div class="container">

        <div class="row hidden-phone">
            <div class="span12">
                @Html.MvcSiteMap().SiteMapPath()
            </div>
        </div>

        @*main article*@
        <article class="row">


            @*affix, appears to require the div.affix-container parent
                scrollspy, appears to require the data-target on the nav element not its child menu element
                TODO - use the address element around our contact information*@
            <div class="span5 affix-container">
                <nav id="subnav" data-offset-top="591" data-spy="affix">

                    <ul class="nav nav-list nav-stacked">
                        <li class="contact"><a href="tel:+1-250-538-2337"><i class="icon-bell hidden-phone"></i>+1-250-538-2337</a></li>
                        <li class="contact">
                            <a href="mailto:info@bigfont.ca">
                                <i class="icon-envelope hidden-phone"></i>info@bigfont.ca
                            </a>
                        </li>

                        @RenderSection("subnav")

                    </ul>

                </nav>



            </div>
            <div class="span7">


                @RenderBody()


                @*article footer*@
                <footer>
                    <a class="btn btn-info return-to-top" href="#top"><i class="icon-arrow-up">&nbsp;</i>Return to Top</a>
                </footer>
            </div>
        </article>
        <footer class="row muted">
            <div class="span2">
                @* Entrust SSL seal. Note: We modify this slightly in bigfont.js *@
                <aside id="entrust-seal">
                    <script language="javascript" src="https://seal.entrust.net/seal.js?domain=www.bigfont.ca&img=9"></script>
                    <a href="http://www.entrust.net">SSL</a>
                    <script language="javascript" type="text/javascript">goEntrust();</script>
                </aside>
            </div>
            <div class="span10">
                <address>
                    <ul class="inline">
                        <li>BigFont.ca, </li>
                        <li>298 Maliview Drive, </li>
                        <li>Salt Spring Island, </li>
                        <li>BC, V8K 1B1, </li>
                        <li>CANADA</li>
                        <li>Site last updated @DateTime.Now.ToString("T")</li>
                    </ul>
                </address>
            </div>
            <hr />
        </footer>
    </div>




    @*javascript*@
    @Scripts.Render("~/scriptolic")
    <script type="text/ecmascript">

    </script>


</body>
</html>
