@model BigFont.MVC.ViewModels.CreateUserViewModel

@using (Html.BeginForm("CreateUser", "Account", FormMethod.Post, new { @class = "" }))
{
    //Security
    @Html.AntiForgeryToken()

    //Validation
    if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @foreach (ModelError e in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <span>@e.ErrorMessage</span>
            }
        </div>
    }

    //Form Controls
    @MyHelpers.BootstrapSelectControlGroup("Roles", "Role(s)", Model.Roles)
    @MyHelpers.BootstrapTextboxControlGroup("Username", "Username", "Username", "Text", true)
    @MyHelpers.BootstrapTextboxControlGroup("Password", "Password", "Password", "Password", true)
    @MyHelpers.BootstrapTextboxControlGroup("ConfirmPassword", "Confirm Password", "Confirm Password", "Password", true)
    @MyHelpers.BootstrapSubmitControlGroup("Register")
}