@model BigFont.MVC.ViewModels.EditUserViewModel

@using (Html.BeginForm("EditUser", "Account", FormMethod.Post, new { @class = "" }))
{
    //Security
    @Html.AntiForgeryToken()

    //Validation
    if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-error">
            @foreach (ModelError e in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <span>@e.ErrorMessage</span>
            }
        </div>
    }

    //Form Controls
    <h2>@Model.UserName<input type="hidden" name="UserName" value="@Model.UserName" /></h2>
    @MyHelpers.BootstrapSelectControlGroup("Roles", "Role(s)", Model.Roles)
    @MyHelpers.BootstrapTextboxControlGroup("Password", "Password", "Password", "Password", false)
    @MyHelpers.BootstrapTextboxControlGroup("ConfirmPassword", "Confirm Password", "Confirm Password", "Password", false)
    @MyHelpers.BootstrapSubmitControlGroup("Submit")
}