@model BigFont.MVC.ViewModels.PresentationViewModel

<section id="@Model.Month.ToLowerInvariant()-@Model.Year.ToString().ToLowerInvariant()" class="toc-hidden">

    <header>
        <h3>@Model.Title <small>@Model.Month @Model.Year</small></h3>
        <h4>Muddling Thru at Salt Spring Island Public Library</h4>
    </header>

    @if (Model.Completed)
    {
        <div class="alert alert-danger" role="alert">Completed.</div>
    }

    <div class="row">
        <div class="col-md-8">
            <p>@Model.Intro</p>
            <p>Presented by @Model.Presenter</p>
            @if (Model.ResourceLink != null)
            {
                <p>
                    <a href="@Model.ResourceLink" target="_blank" class="btn btn-default">
                        <i class="icon-external-link">&nbsp;</i>@Model.ResourceName
                    </a>
                </p>
            }
        </div>
        <div class="col-md-4">
            <p>
                <a href="@Model.PosterSrc">
                    <img alt="todo" class="img-thumbnail pull-left" src="@Model.PosterSrc" />
                </a>
            </p>
        </div>
    </div>

</section>