@section subnav
{

}

<section id="head-office">

    <header>
        <h1>Head Office</h1>
    </header>
    <address>
        <dl>
            <dt>Address</dt>
            <dd>298 Maliview Drive,</dd>
            <dd>Salt Spring Island, BC</dd>
            <dd>Canada V8K 1B1﻿</dd>
            <dt>Phone</dt>
            <dd>@MyHelpers.PhoneButton("+1-250-538-2337")</dd>
            <dt>Email</dt>
            <dd>@MyHelpers.EmailButton("info@bigfont.ca")</dd>
        </dl>
    </address>

</section>
<section id="technology">

    <header>
        <h1>Technology
        </h1>
    </header>
    <address>
        <dl>
            <dt>Technology Lead</dt>
            <dd>Shaun Luttin</dd>
            <dt>Phone</dt>
            <dd>@MyHelpers.PhoneButton("+1-250-931-0628")
            </dd>
            <dt>Email</dt>
            <dd>@MyHelpers.EmailButton("shaun@bigfont.ca")</dd>
        </dl>  
    </address>

</section>
<section id="marketing">

    <header>
        <h1>Marketing</h1>
    </header>
    <address>
        <dl>
            <dt>Marketing Lead</dt>
            <dd>Tony Edwards
            </dd>
            <dt>Phone</dt>
            <dd>@MyHelpers.PhoneButton("+1-250-537-1255")
            </dd>
            <dt>Email</dt>
            <dd>@MyHelpers.EmailButton("tony@bigfont.ca")</dd>
        </dl>     
    </address>

</section>
