@{

    ViewBag.MetaDescription = "Need a computer or web solution? Contact BigFont at our office on Salt Spring Island.";
    ViewBag.MetaKeywords = "technical, website, web development, web design, computer, salt spring, salt spring island";
    ViewBag.Title = "BigFont.ca | Contact";
}

<section>

    @MyHelpers.BigFontTocSectionHeader(Html, "Head Office")
    <address>
        <dl>
            <dt>Address</dt>
            <dd>298 Maliview Drive,</dd>
            <dd>Salt Spring Island, BC</dd>
            <dd>Canada V8K 1B1﻿</dd>
            <dt>Phone</dt>
            <dd>@MyHelpers.PhoneButton("+1-250-538-2337")</dd>
            <dt>Email</dt>
            <dd>@MyHelpers.EmailButton("info@bigfont.ca")</dd>
        </dl>
    </address>

</section>
<section>

    <header>
        @MyHelpers.BigFontTocSectionHeader(Html, "Technology")
    </header>
    <address>
        <dl>
            <dt>Technology Lead</dt>
            <dd>Shaun Luttin</dd>
            <dt>Phone</dt>
            <dd>@MyHelpers.PhoneButton("+1-250-931-0628")
            </dd>
            <dt>Email</dt>
            <dd>@MyHelpers.EmailButton("shaun@bigfont.ca")</dd>
        </dl>  
    </address>

</section>
<section>

    @MyHelpers.BigFontTocSectionHeader(Html, "Marketing")
    <address>
        <dl>
            <dt>Marketing Lead</dt>
            <dd>Tony Edwards
            </dd>
            <dt>Phone</dt>
            <dd>@MyHelpers.PhoneButton("+1-250-537-1255")
            </dd>
            <dt>Email</dt>
            <dd>@MyHelpers.EmailButton("info@bigfont.ca")</dd>
        </dl>     
    </address>

</section>
