
<section>
    @MyHelpers.BigFontTocSectionHeader(Html, "Open Source Web Applications")
    <p class="lead">Wanting something more than Wordpress?</p>
    <ul class="icons-ul">
       @MyHelpers.LinkListItem("http://aspnetwebstack.codeplex.com/", "ASP.NET", "Free web framework for building great web sites and applications.")
       @MyHelpers.LinkListItem("https://github.com/madskristensen/miniblog", "MiniBlog", "A minimalistic blogging engine based on HTML5 and ASP.NET.")
       @MyHelpers.LinkListItem("https://ghost.org/", "Ghost", "Just a blogging platform - albeit an extremely good one.")
       @MyHelpers.LinkListItem("http://www.orchardproject.net/", "The Orchard Project", "Orchard is a free, open source, Content Management System.")
       @MyHelpers.LinkListItem("http://www.shopify.com/?ref=bigfont", "Shopify", "Canadaian ecommerce website solution to run an online store.")
    </ul>
</section>

<section id="web-dev-tools">
    @MyHelpers.BigFontTocSectionHeader(Html, "Online Tools")
    <p class="lead">Building a website yourself?</p>
    <ul class="icons-ul">
       @MyHelpers.LinkListItem("http://twitter.github.io/bootstrap/", "Twitter Bootstrap", "Responsive website framework; free from Twitter.")
       @MyHelpers.LinkListItem("http://www.jslint.com/", "jsLint", "This free tool is like a spellcheck for your JavaScript.")
       @MyHelpers.LinkListItem("http://jsonlint.com", "jsonLint", "This free tool is like a spellcheck for your JSON.")
       @MyHelpers.LinkListItem("http://www.w3.org/QA/Tools/", "W3 Quality Assurance Tools", "Quality assurance tools from the W3C.")
       @MyHelpers.LinkListItem("http://cssfontstack.com/", "CSS Font Stack", "Choose the font that you want.")
       @MyHelpers.LinkListItem("http://www.convertcase.net/", "Convert Case", "Convert uppercase to lowercase or visa versa.")
       @MyHelpers.LinkListItem("http://mxtoolbox.com/", "MX Toolbox", "Investigate the DNS settings of any website.")
       @MyHelpers.LinkListItem("https://instantdomainsearch.com/", "Instant Domain Search", "Quickly check availability of a domain name.")
       @MyHelpers.LinkListItem("http://www.namespro.ca/", "Namespro", "Buy a domain name.")
    </ul>
</section>

<section id="learning-resources">
    @MyHelpers.BigFontTocSectionHeader(Html, "Learning Resources")
    <p class="lead">Learning how to write code?</p>
    <ul class="icons-ul">
       @MyHelpers.LinkListItem("http://ideone.com/", "Ideone", "Fiddle with a multitude of open-source languages online.")
       @MyHelpers.LinkListItem("http://dotnetfiddle.net/", "DotNetFiddler", "Play with .NET online.")
       @MyHelpers.LinkListItem("http://jsfiddle.net/", "JsFiddle", "Fiddle with HTML, CSS, and JavaScript online.")
       @MyHelpers.LinkListItem("http://plnkr.co/edit/", "Plunker", "Fiddle with HTML, CSS, and JavaScript online.")
       @MyHelpers.LinkListItem("http://pumpula.net/p/apps/css-vocabulary/", "CSS Vocabulary", "An interactive was to learn CSS vocabulary.")
       @MyHelpers.LinkListItem("http://wtfhtmlcss.com/", "WTF, HTML and CSS", "A curated list of commonly frustrating HTML and CSS quandaries.")
       @MyHelpers.LinkListItem("https://github.com/tiimgreen/github-cheat-sheet", "GitHub Cheat Sheet", "Learn the world's best host for the world's best version control - Git.")
       @MyHelpers.LinkListItem("http://stackoverflow.com/", "StackOverflow", "Ask software development questions. Receive answers.")
       @MyHelpers.LinkListItem("http://developers.whatwg.org/", "HTML: The Living Standard", "An authoritative technical guide to HTML.")
    </ul>
</section>

<section id="utilities">
    @MyHelpers.BigFontTocSectionHeader(Html, "Utilities")
    <p class="lead">Helpful tools for Microsoft Windows</p>
    <ul class="icons-ul">
       @MyHelpers.LinkListItem("http://sourceforge.net/projects/compactview", "Compact View", "Viewer for Microsoft® SQL Server® CE database files (sdf).")
       @MyHelpers.LinkListItem("http://www.revouninstaller.com/", "Revo Uninstaller", "Remove unwanted programs and traces easily")
       @MyHelpers.LinkListItem("http://git-scm.com/", "Git", "Git is a free and open source distributed version control system.")
       @MyHelpers.LinkListItem("http://www.visualstudio.com/en-us/products/visual-studio-express-vs.aspx", "Visual Studio Express", "The fastest, free way to start developing applications.")
       @MyHelpers.LinkListItem("http://www.microsoft.com/web/webmatrix/", "WebMatrix", "Free, lightweight, cloud-connected web development tool.")
       @MyHelpers.LinkListItem("http://www.getpaint.net/redirect/getpdn.html", "Paint.NET", "A free Photoshop alternative.")
       @MyHelpers.LinkListItem("http://asciiflow.com/", "ASCII Flow", "Infinite ASCII diagrams, save to Google Drive, resize, freeform draw, and export straight to text/html.")
    </ul>
</section>

<section id="local-services">
    @MyHelpers.BigFontTocSectionHeader(Html, "Local Services")
    <p class="lead">Computer and technology related services on Salt Spring Island.</p>
    <ul class="icons-ul">
       @MyHelpers.LinkListItem("http://www.saltspringcomputer.com/", "Salt Spring Computer", "Computer <em>hardware</em> repairs.")
       @MyHelpers.LinkListItem("http://www.yellowpages.ca/bus/British-Columbia/Salt-Spring-Island/Orca-Electronics/6092219.html", "Orca Electronics", "Computer <em>hardware</em> and electronics sales.")
       @MyHelpers.LinkListItem("http://www.yelp.ca/biz/electronic-ark-salt-spring-island", "Electronic Arc", "Windows computer sales and servicing.")
       @MyHelpers.LinkListItem("http://www.johncameron.ca/", "John Cameron", "Second to none local photographer.")
       @MyHelpers.LinkListItem("http://hellosaltspring.com/", "Hello Salt Spring", "Comprehensive directory of things to do on the island.")
    </ul>
</section>

<section id="nerd-websites">
    @MyHelpers.BigFontTocSectionHeader(Html, "Nerd Websites")
    <p class="lead">Websites for nerds.</p>
    <ul class="icons-ul">
       @MyHelpers.LinkListItem("http://cat-v.org/", "Cat-v", "We really like the programming quotes section.")
    </ul>
</section>


