
<section id="packages">

            @MyHelpers.BigFontTocSectionHeader(Html, "Packages")
            <p>We currently offer three packages.</p>
            <dl>
                <dt>Getting Started</dt>
                <dd>$100</dd>

                <dt>Easy 2 Edit Website</dt>
                <dd>$250<sup><a href="#r1">[1]</a></sup></dd>

                <dt>Advanced Work</dt>
                <dd>$50 hourly</dd>
            </dl>

</section>



<section id="getting-started">

            @MyHelpers.BigFontTocSectionHeader(Html, "Getting Started <small>$100</small>")
            <p>With this package you receive:</p>
            <ul class="icons-ul">
                <li><i class="icon-li icon-ok"></i>website hosting for one year,</li>
                <li><i class="icon-li icon-ok"></i>domain name registration for one year,</li>
                <li><i class="icon-li icon-ok"></i>two hours of website development, and</li>
                <li><i class="icon-li icon-ok"></i>a professional, single-page website.</li>
            </ul>

</section>

<section id="easy-edit">

            @MyHelpers.BigFontTocSectionHeader(Html, "Easy 2 Edit Website <small>$250<sup><a href='#r1'>[1]</a></sup></small>")
            <p>
                Also known as a <a href="/services#content-management">Web Content Management System</a> (CMS), 
                you receive an easy to edit website with two types of pages:
            </p>
            <ul class="icons-ul">
                <li><i class="icon-li icon-ok"></i>a home page;</li>
                <li><i class="icon-li icon-ok"></i>a secondary page.</li>
            </ul>
            <p>
                With this package, you can add new pages and change the text of existing pages.
                You cannot, however, change the page layout nor create new page types.
            </p>
            <p>
                If you've already bought the <a href="#getting-started">Getting Started</a> package, this Easy 2 Edit Website costs an additional $250.
                We make your existing home page easy to edit, we create a secondary page, and we teach you how to add and to change things.
            </p>
            <p>
                If you haven't already bought the <a href="#getting-started">Getting Started</a> package, the Easy 2 Edit Website costs $350.
                We will create both your home page and secondary page, make both easy to edit, and teach you how to add and to change things.
            </p>

</section>

<section id="advanced-work">

            @MyHelpers.BigFontTocSectionHeader(Html, "Advanced Work <small>$50 hourly</small>")
            <p>Business websites sometimes need Advanced Work. This might include:</p>
            <ul class="icons-ul">
                <li><i class="icon-li icon-ok"></i>shopping carts,</li>
                <li><i class="icon-li icon-ok"></i>contact forms,</li>
                <li><i class="icon-li icon-ok"></i>photo galleries,</li>
                <li><i class="icon-li icon-ok"></i>video players,</li>
                <li><i class="icon-li icon-ok"></i>maps, and</li>
                <li><i class="icon-li icon-ok"></i>additional page types (or templates).</li>
            </ul>
            <p>Let us know what you need, and we will create an estimate.</p>

</section>

<section>

            @MyHelpers.BigFontTocSectionHeader(Html, "The Project Plan <small>$300</small>")
            <p>For advanced work, the first step is to create a plan and sign off on a Sales Order. We meet you for an hour to learn exactly what you require. Then BigFont's software architechs turn your idea into a project plan that you can understand. It includes a list of all the requirements, an estimate, and a timeline. This process is similar to what an architect does before building a home or renovation. It is complete when you understand exactly what you're buying and sign a Sales Order to start the custom work.</p>

</section>

<aside id="r1" class="anchor">
    <small class="text-info">[1] $250 is the cost of upgrading from the Getting Started package. 
                The cost is $350 if you are starting from scratch.</small>
</aside>
