@{

    ViewBag.MetaDescription = "BigFont providers website development, design, and hosting packages from our office on Salt Spring Island.";
    ViewBag.MetaKeywords = "web hosting, website, web development, web design, salt spring, salt spring island";
    ViewBag.Title = "BigFont.ca | Packages";
}

<section id="web-hosting">

    @MyHelpers.BigFontTocSectionHeader(Html, "Web Hosting Plus<small>$95/year</small>")
    <p>With this package you receive:</p>
    <ul class="icons-ul">
        <li><i class="icon-li icon-ok"></i>website hosting for one year,</li>
        <li><i class="icon-li icon-ok"></i>domain name registration for one year, and</li>
        <li><i class="icon-li icon-ok"></i>standard maintenance for one year.</li>
    </ul>

    <p>This package is particularly suitable for those who have an existing website that they would like to host with BigFont.</p>

</section>

<section id="getting-started">

    @MyHelpers.BigFontTocSectionHeader(Html, "Getting Started <small>$225</small>")
    <p>With this package you receive:</p>
    <ul class="icons-ul">
        <li><i class="icon-li icon-ok"></i>Web Hosting Plus (see above),</li>
        <li><i class="icon-li icon-ok"></i>two hours of website development, and</li>
        <li><i class="icon-li icon-ok"></i>a live, professional, single-page website.</li>
    </ul>

    <p>At additional expense, you can purchase Advanced Work to modify and/or update your website as needed.</p>

</section>

<section id="easy-edit">

    @MyHelpers.BigFontTocSectionHeader(Html, "Easy 2 Edit Website <small>$250<sup><a href='#r1'>[1]</a></sup></small>")
    <p>
        Also known as a <a href="/services#content-management">Web Content Management System</a> (CMS),
        you receive an easy to edit website with two types of pages:
    </p>
    <ul class="icons-ul">
        <li><i class="icon-li icon-ok"></i>a home page;</li>
        <li><i class="icon-li icon-ok"></i>a secondary page.</li>
    </ul>
    <p>
        With this package, you can add new pages and change the text of existing pages yourself.
        You cannot, however, change the page layout nor design.
    </p>
    <p>
        If you've already bought the <a href="#getting-started">Getting Started</a> package, this Easy 2 Edit Website costs an additional $250.
        We make your existing home page easy to edit, we create a secondary page, and we teach you how to add and to change things.
    </p>
    <p>
        If you haven't already bought the <a href="#getting-started">Getting Started</a> package, the Easy 2 Edit Website costs $475.
        We will create both your home page and secondary page, make both easy to edit, and teach you how to add and to change things.
    </p>

    <p>
        This package is particularly suited to those who want to change the content of the website on their own, without the help of a webmaster, and to do so on a regular basis.
    </p>

    <p>
        At additional expense, you can purchase Advanced Work to modify layout and design as needed.
    </p>

</section>

<section id="advanced-work">

    @MyHelpers.BigFontTocSectionHeader(Html, "Advanced Work <small>$62.50 per hour (or part thereof)</small>")
    <p>Websites sometimes need Advanced Work. This might include:</p>
    <ul class="icons-ul">
        <li><i class="icon-li icon-ok"></i>shopping carts,</li>
        <li><i class="icon-li icon-ok"></i>contact forms,</li>
        <li><i class="icon-li icon-ok"></i>photo galleries,</li>
        <li><i class="icon-li icon-ok"></i>video players,</li>
        <li><i class="icon-li icon-ok"></i>maps,</li>
        <li><i class="icon-li icon-ok"></i>changes to content, layout, or design,</li>
        <li><i class="icon-li icon-ok"></i>additional page types (or templates).</li>
    </ul>
    <p>Let us know what you need, and we will create a project plan.</p>

</section>

<section>

    @MyHelpers.BigFontTocSectionHeader(Html, "The Project Plan <small>Starting at $300</small>")
    <p>For advanced work, the first step is to create a plan and sign off on a Sales Order. We meet you for an hour to learn exactly what you require. From there, BigFont's software architects will turn your idea into a project plan, that you can understand and authorize.</p>
    <p>The plan includes a list of all your requirements, an estimate, and a timeline. The plan is similar to what an architect produces before constructing a home or renovation. The plan is complete when you understand exactly what you're buying and sign a Sales Order to start the custom work.</p>
    <p>Large software projects often require continuous planning or multiple plans (where we create a plan for each signifcant feature). If this is the case, please ask us about the Agile software development process.</p>

</section>

<section>

    @MyHelpers.BigFontTocSectionHeader(Html, "How Long Will Development Take?")


    <p>The number of hours involved in the development of a website or web application varies a great deal, depending on the type of website, the nature of the requirements, the software development house, limitations imposed by the users, and sometimes your own preferences about the pace of the work.</p>

    <p>Development typically lasts from 6 to 25 hours, though this is enormously variable depending on the requirements being built. If you would like an estimate for your custom work, the first step is to create a project plan.</p>

    <p>One concern that many businesses have is the expense. Custom software development is an undeniably expensive process, even when the total number of hours is 12 or less (which is often the case.) If you are paying for the development yourself, the bill can add up quickly. Some people feel that they would like to cut back on the cost by building the website one feature at a time (this is a very good idea) or doing some of the work on their own. This is sometimes possible, depending on the software developer and the requirements at hand. Doing it yourself can be quite demanding in terms of the amount of learning required. If you want to explore this option, please let us know. We highly recommend moving one finished feature at a time.</p>

    <p>One suggestion: remember that a website or web application is never done. It's a work in progress. First we publish a professional looking home page. Two months later we add a photo gallery. Next, we add a calendar and price list. At each stage, the website is polished, professional, and helps your customers. We highly recommend building a website or application in this way. You have probably noticed that most of the websites that you use (e.g. your email) are evolving.</p>

    <p>One suggestion: Take your developer's hourly rate and multiply it by the number of hours that development is likely to take. Then ask yourself whether you would be willing to spend that much money renting an office space. It's worth setting aside some money every month to add features to your website.</p>

</section>

<aside id="r1" class="anchor">
    <small class="text-info">
        [1] $250 is the cost of upgrading from the Getting Started package.
        The cost is $475 if you are starting from scratch.
    </small>
</aside>
