@using BigFont.MVC.ViewModels
@using NodaTime

@{

    ViewBag.MetaDescription = "BigFont presents on topics including the Web, the Internet, and computers in Victoria, Vancouver, and Salt Spring Island";
    ViewBag.MetaKeywords = "web, website, web development, web design, technology, internet, computers, salt spring, salt spring island";
    ViewBag.Title = "BigFont.ca | Presentations";
}

<section id="presentations" class="toc-hidden">

    @MyHelpers.BigFontTocSectionHeader(Html, "Presentations, Workshops, and Lectures")

    <p>
        BigFont Technology offers a wide variety of public talks, workshops, and training programs for the public and for software professionals. All presentations are made by staff or affiliates of BigFont. Read on for details, upcoming presentations and past events.
    </p>

</section>

<section id="winter-2015" class="presentation-group">

    <header>

        @MyHelpers.BigFontTocSectionHeader(Html, "Winter 2015")
        <p>Sponsored by the Salt Spring Island Public Library, this series is free of charge as part of the Tech Cafe series. All talks run from 5 PM - 6 PM on the second Tuesday of each month, in the library program room.</p>
        <p>The theme of this series is The Cloud. If you want to understand something, look at its history. After touching on security, we'll cover the origins of The Cloud. You may be surprised about what it is and how you already use it.</p>

    </header>

    <div class="panel panel-info">
        <div class="panel-heading">
            Dates and Topics, Winter 2015
        </div>
        <ul class="list-group">
            @foreach (var p in ViewBag.Winter2015Presentations)
            {
                <li class="list-group-item" itemtype="http://schema.org/Event" itemscope>
                    <ul class="list-unstyled">
                        <li itemprop="name"><strong>@p.Name</strong></li>
                        <li itemprop="description">@p.Description</li>
                        <li>
                            <time itemprop="startDate" datetime="@p.StartDateUtc.ToOffsetDateTime().ToString()">
                                @p.StartDateUtc.ToString("ddd dd MMM 'at' h:mm tt", System.Globalization.CultureInfo.InvariantCulture)
                            </time>
                        </li>
                        <li itemprop="location">
                            <span itemprop="name">Salt Spring Island Public Library Program Room</span>
                            <meta itemprop="address" content="Salt Spring Island BC" />
                        </li>
                    </ul>
                </li>
            }
        </ul>
        <div class="panel-footer">
            Missed a talk? No worries. Drop in to the next one.
        </div>
    </div>

</section>

<section id="professional-development" class="presentation-group">

    <header>

        @MyHelpers.BigFontTocSectionHeader(Html, "For Professionals")
        <p>
            We provide training for software professionals on a variety of topics, including the usage of JavaScript and CSS frameworks, the development of web applications in ASP.NET MVC with C#, and the leveraging of Windows Azure cloud services.
        </p>

    </header>

    <section id="jan-2015" class="toc-hidden">
        <header>
            <h3>Starting Git with PowerShell <small>January 2015</small></h3>
        </header>
        <div class="alert alert-danger" role="alert">Completed.</div>
        <div class="row">
            <div class="col-md-6">
                <p class="text-right">
                    This session takes a step-by-step approach to the essentials of <a href="http://www.git-scm.com/">Git</a> - a powerful, popular tool for project collaboration and versioning. After comparing Git to other version control systems, we will introduce day-to-day usage with common verbs, locations, workflows, and etiquette. Time permitting, we'll demonstrate how to fix mistakes and perform maintenance tasks.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <a href="http://technet.microsoft.com/en-us/scriptcenter/dd742419.aspx">
                        <img class="img-thumbnail" src="~/Images/Poster_PowerShell-logo.png" />
                    </a>
                </p>
                <p>
                    <a href="http://www.git-scm.com/">
                        <img class="img-thumbnail" src="~/Images/Poster_git-logo.png" />
                    </a>
                </p>
                <p>
                    <a href="http://www.netbc.ca">
                        <img class="img-thumbnail" src="~/Images/Poster_dotNETBC-logo.PNG" />
                    </a>
                </p>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        This free, one-hour talk is sponsored by <a href="http://www.netbc.ca">dotNetBC</a>. It takes place on <strong>Wednesday 14 January, 2015 at the BCIT Downtown Campus [Welcome time 6:15 PM]</strong> in Vancouver, BC. There will be time for questions and answers after the talk.
                    </p>
                </div>
            </div>
        </div>

    </section>

    <section id="salon-series-2015" class="toc-hidden">

        <header>
            <h3>Tech Salon <small>January 2015</small></h3>
        </header>
        <div class="alert alert-danger" role="alert">Completed.</div>
        <p>
            Big Font presents a <strong>twelve-session</strong>, continuing computer education class for PC. It is designed for businesses in particular but is suited to computer-literate people who want to be up-to-date. Attendees will enhance their knowledge of existing programs but more importantly use that knowledge to keep up with where the Industry is going i.e. transitioning to The Cloud.
        </p>

        @Html.Partial("~/Views/PayPal/TechSalonBuyButton.cshtml")

        <p>
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://onedrive.live.com/embed?cid=DB5DB99F7F8F6191&resid=DB5DB99F7F8F6191%215514&authkey=AIpkZPhdyVKDcAQ&em=2"
                        scrolling="no"></iframe>
            </div>
        </p>

        <p>
            We tend to become comfortable with what we know and inclined to resist change. Yet who would want to go back to the computers of 1984? With that in mind, we need to keep up with an industry that continues to grow and is becoming more sophisticated while at the same time making it easier to operate – if only we knew how.
        </p>
        <p>
            What this series of classes sets out to do initially is review your present level of knowledge of such as Windows 7 (that now really is passé) or Windows 8 and the same generations of compatible programs in Office Suite like Word, Excel, Outlook and others.
        </p>
        <p>
            We'll progress from there to show you where it's all going, as with soon-to-be-launched, Windows 10; but also, One Drive, Office 365 and The Cloud. There’s catching up to do to remain compatible with businesses already embracing the improved technology.
        </p>
        <p>
            Like it or not, it’s only a matter of time before buying the latest program (or even a computer) will be obsolete. All you’ll need is a terminal, (a subscription,) and an up-to-date browser. This course will help get you there.
        </p>

    </section>

    <section id="dec-2013" class="toc-hidden">
        <header>
            <h3>DevTeach Conference in Vancouver <small>Dec 2013</small></h3>
        </header>
        <div class="alert alert-danger" role="alert">Completed.</div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <a href="http://www.devteach.com/Speaker.aspx#12891">
                        <img alt="todo" class="img-thumbnail" src="~/Images/Poster_Devteach_2013.PNG" />
                    </a>
                </p>
                <p>
                    This session takes a step-by-step approach to introduce essentials of AngularJS with the MVC design pattern. Topics include set-up, developing professional looking Angular templates, automating data binding and fetching, routing, event handling, and more. Pat McGee and Shaun Luttin.
                </p>
            </div>
        </div>

    </section>

</section>

<section id="muddling-thru" class="presentation-group">

    <header>
        @MyHelpers.BigFontTocSectionHeader(Html, "For the Public <small>Muddling Thru Talks</small>")
        <p>
            Muddling Thru is sponsored by the <a href="http://saltspring.bclibrary.ca/">Salt Spring Island Public Library</a> as part of their tech cafe series.
        </p>
        <p>
            All talks are <strong>free of charge</strong> and are presented at the Salt Spring Island Public Library in the Library Program Room.
            <strong>Advanced register</strong> at the Library's information desk.
            @*TODO For information on what Muddling Thru is all about, click here.*@
        </p>
        <p>
            <img alt="todo" class="img-thumbnail" src="~/Images/salt-spring-library-building-01.png" />
        </p>
    </header>

    @foreach(PresentationViewModel p in ViewBag.MuddlingThruPresentations)
    {
        @Html.Partial("_Presentation", p)
    }

</section>
