@section header
{
    <h1>@Html.MvcSiteMap().SiteMapTitle()</h1>
}

@section subnav
{

}

<section class="toc-ignore-section">

    <header>
        <h1>App Settings</h1>
    </header>    

    <p>@System.Configuration.ConfigurationManager.AppSettings["gaServicePrivateKeyFilePath"]</p>
    <p>@System.Configuration.ConfigurationManager.AppSettings["gaServiceAccountEmail"]</p>

    @{
       System.Collections.Specialized.NameValueCollection appSettings = System.Configuration.ConfigurationManager.AppSettings;
    }
    <dl>
        @foreach (string name in appSettings)
        {
            <dt>@name</dt>
            <dd>@appSettings[name]</dd>            
        }
    </dl>

</section>