@model BigFont.MVC.ViewModels.CreateUserViewModel

@section header
{
    <h1>@Html.MvcSiteMap().SiteMapTitle()</h1>
}

@section subnav
{

}

<section>

    @using (Html.BeginForm("CreateUser", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        //Security
        @Html.AntiForgeryToken()

        //Validation
        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-error">
                @foreach (var e in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <span>@e.ErrorMessage</span>
                }
            </div>

        }

        foreach (var s in Model.Roles)
        {
            <p>@s</p>
        }

        //Form Controls                        
        @MyHelpers.BootstrapTextboxControlGroup("Username", "Username", "Username", "Text");
        @MyHelpers.BootstrapTextboxControlGroup("Password", "Password", "Password", "Password");
        @MyHelpers.BootstrapTextboxControlGroup("ConfirmPassword", "Confirm Password", "Confirm Password", "Password");

        @MyHelpers.BootstrapSubmitControlGroup("Register");


    }

</section>
