@model BigFont.MVC.ViewModels.DisplayUsersViewModel

@section header
{
    <h1>@Html.MvcSiteMap().SiteMapTitle()</h1>
}

@section subnav
{

}

<section>

    @Html.DisplayFor(x => x)

    <p>@Roles.GetRolesForUser("shaunluttin")[0]</p>
    <p>@Roles.GetRolesForUser("tony")[0]</p>
    <p>@Roles.GetRolesForUser("shirly")[0]</p>

</section>