@model BigFont.MVC.Models.LoginModel

@section header
{
    <h1>@Html.MvcSiteMap().SiteMapTitle()</h1>
}

@section subnav
{

}

<section>

    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class = ""}))
    {
        //Security
        @Html.AntiForgeryToken()

        //Validation
        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-error">
                @foreach (ModelError e in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <span>@e.ErrorMessage</span>
                }
            </div>
        }

        //Form Controls
        @MyHelpers.BootstrapTextboxControlGroup("Username", "Username", "Username", "Text", true)
        @MyHelpers.BootstrapTextboxControlGroup("Password", "Password", "Password", "Password", true)
        @MyHelpers.BootstrapSubmitControlGroupWithCheckbox("RememberMe", "Remember Me", "Sign In")
        
    }


</section>