@model BigFont.MVC.Models.LoginModel

@section header
{
    <h1>@Html.MvcSiteMap().SiteMapTitle()</h1>
}

@section subnav
{

}

<section>

    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        //Security
        @Html.AntiForgeryToken()

        //Validation
        foreach(var e in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@e.ErrorMessage</p>
        }

        //Form Controls
        @MyHelpers.BootstrapTextboxControlGroup("Username", "Username", "Username", "Text");
        @MyHelpers.BootstrapTextboxControlGroup("Password", "Password", "Password", "Password");
        @MyHelpers.BootstrapCheckboxControlGroup("RememberMe", "Remember Me");
        <button type="submit" class="btn">Sign in</button>
    }

</section>